.Header {
  padding: 2vh 2vw;
  width: 100vw;
  justify-content: space-between;
  background-color: red;
  display: flex; 
}
.headerTitle {
  text-align: left;
  background-color: blue;
}
.headerDarkMode {
  justify-content: right;
  background-color: green;
}

.searchBar {
  background-color: yellow;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}